/*Code adapted from following the Frontend Masters tutorial provided @ https://canvas.tlm.cloud*/
:root {
  --lite-slate: #778899;
  --dark-slate: #2f4f4f;
  --black: #171321;
  --white: #fdf5e6;
  --lightgrey: #d8d9db;
  --button-hover: #ebebeb;
  --button-active: #bbbcbe;
  --function-buttons: #ff8c00;
  --function-buttons-hover: #dfb07e;
  --function-buttons-active: #dd8d37;
  --button-var: #778899;
  --button-border-top: #dfdfdf;
  --button-border-right: #666;
  --button-border-bottom: #333;
  --button-border-left: #858585;
  --font-size: 40px;
  --font-style: monospace;
}
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../../../assets/images/bg-bottom.svg) bottom right no-repeat fixed,
      url(../../../assets/images/bg-top.svg) left top no-repeat fixed;
  }
  .wrapper {
  align-content: center;
    margin: 50px auto;
    width: 400px;
    border-width: 4px;
    border-style: solid;
    border-top-color: var(--button-border-top);
    border-right-color: var(--button-border-right);
    border-bottom-color: var(--button-border-bottom);
    border-left-color: var(--button-border-left);
    background: var(--black);
    color: var(--white);

}
.screen {
  text-align: right;
  font-family: "Courier New", "Courier", monospace;
  font-size: 40px;
  padding: 20px 5px;

}
/*parent*/
.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
/*child*/
.calc-button {
    color: var(--lite-slate);
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
    margin: 0 auto;
    line-height: 2.15;
    background: var(--dark-slate);
    text-align: center;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-top-color: #dfdfdf;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;
}
.calc-button:hover {
    background-color: var(--button-hover);
}
.calc-button:active {
    background-color: var(--button-active);
}
.double {
    flex-basis: 49.7%;
}
.triple {
    flex-basis: 74.8%;
}
.function {
    color: var(--dark-slate);
    background-color: var(--function-buttons);
}
.function:hover {
    background-color: var(--function-buttons-hover);
}
.function:active {
    background-color: var(--function-buttons-active);
}
