
    /* Drop into your CSS file */

    /* Palette for #a82724 */

    :root {    
        /* Tetrads palette */
        --key-tetrad-color: #a82724;
        --second-tetrad-color: #62a824;
        --third-tetrad-color: #24a4a8;
        --fourth-tetrad-color: #6a24a8;
  
      /* Drop into your CSS file */
  
      /* Palette for #a82724 */
       
        /* Split Complementary palette */
        --key-split-color: #a82724;
        --second-split-color: #24a86a;
        --third-split-color: #2462a8;
  
      /* Drop into your CSS file */
  
      /* Palette for #a82724 */
  
        /* Triads palette */
        --key-triad-color: #a82724;
        --second-triad-color: #24a828;
        --third-triad-color: #2824a8;
  
      /* Drop into your CSS file */
  
      /* Palette for #ecb132 */
  
        /* Gradations */
        --key-gradation-color: #ecb132;
        --second-gradation-color: #e5a231;
        --third-gradation-color: #de9330;
        --fourth-gradation-color: #d7842f;
        --fifth-gradation-color: #d0752e;
        --sixth-gradation-color: #c9662d;
        --seventh-gradation-color: #c2572c;
        --eighth-gradation-color: #bb482b;
        --ninth-gradation-color: #b4392a;
        --secondary-gradation-color: #a82724;
    }