/*************************/
/* Capstone Project      */
/* Knucklebones          */
/* StrayDog Syndications */
/*                       */
/*************************/

/* My Reboot Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:
    url(../assets/images/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
    url(../assets/images/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
a {
  font-size: 1.25rem;
  color: dodgerblue;
  }

/* Stylesheet */

#splash {
  position: relative;
  z-index: 12000;
  top: 150px;
  left: 5px;
  margin: auto;
  height: auto;
  width: 205%;
  min-height: fit-content;
  max-width: fit-content;
  background:
    url(../assets/knucklebones/knuckleLogo.png) bottom center/105% no-repeat;
  }
#splash-footer {
  display: flex;
  justify-content: space-between;
}
#login-button {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
#login-button:hover {
  cursor: pointer;
  color: var(--third-triad-color);
  }
#toggler:hover {
  text-decoration: underline;
  background-color: var(--second-split-color);
  }
#toggler {
  margin: 5px auto;
  height: fit-content;
  width: 30%;
  }
#exp {
  position: absolute;
  bottom: 40px;
  z-index: -1;
  }
li,
.dice:hover {
  cursor: pointer;
}
.img-transparent {
  background: transparent;
  }
.brand-outline {
  border: 8px double rgba(0%,0%,0%, 0.4);
  }
.bg-gradient {
  background:
  url(../assets/knucklebones/bg-gradient.png) ;
  }
.bg-logo {
  background:
  url(../assets/knucklebones/bg-background-logo.png) ;
  }
.bg-logo-sm {
  background:
  url(../assets/knucklebones/bg-background-sm-logo.png) ;
  }
.super {
  font: 140em;
}
.hunter {
  color: #3A3F;
  }
.active-me {
  color: hsl(120, 100%, 50%);
  }
.background {
  background-color: var(--background);
  }
.background-page {
  background-color: var(--background);
  }
.myBorder-1{
  border: outset var(--fourth-tetrad-color);
  }
.text-glow {
  /* color | offset-x | offset-y | blur-radius */
  text-shadow: #fc0 1px 0 8px;
  }
.shadow {
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 2px 2px 4px var(--black-100);
  }
.outline {
  /* color | offset-x | offset-y */
  text-shadow: var(--white-100) -2px 3px;
  }
.box-shadow {
  box-shadow: var(--black-100) 10px 5px 5px;
  }
.box-shadow-alt {
  box-shadow: var(--black-70) 5px 2px 5px;
  }
.box-glow {
  box-shadow: var(--white-40) 3px 2px 3px;
  }
.Times {
  font-family: var(--times);
  }
.Sans {
  font-family: var(--san-serif);
  }
.Serif {
  font-family: var(--serif);
  }
.Arial {
  font-family: var(--arial);
  }
.Curve {
  font-family: var(--curve);
  }
.Fantasy {
  font-family: var(--fans);
  }
.Impact {
  font-family: var(--impact);
  }
.Mono {
  font-family: var(--mono);
  }
.logo {
  border-radius: 50%;
  max-height: 15%;
  max-width: 15%;
  }
.nav-logo {
  margin-right: 1.25rem;
  border-radius: 15%;
  max-height: 15%;
  max-width: 15%;
  }
.login {
  /*padding-left: 0.875rem;*/
  width: 24rem;
  }
.bar {
  transition-duration: 300ms;
  width: 25%;
  }

  /* Variables */

:root {

  /* Typography */

  --arial: Verdana, Arial, Helvetica, sans-serif;
  --curve:  "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery",cursive;
  --fans: Papyrus, Herculanum, "Party LET", "Curlz MT", Harrington, fantasy;
  --mono: "Fira Mono", "Liberation Mono", "Lucida Console", Monaco, Courier, monospace;
  --sans: "Gill Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans",sans-serif;
  --serif: "Hoefler Text", Baskerville, Lucida, "Palatino Linotype", "URW Palladio", serif;
  --times: Times, "Times New Roman", Georgia, serif;
  --impact: Impact, 'Arial Narrow', 'Arial Black';
  --san-serif: Geneva, Tahoma, Helvetica, Arial, sans-serif;

  /* HSLA Color Palette */
  --black-10: hsla(120, 100%, 0%, .1);
  --black-40: hsla(120, 100%, 0%, .4);
  --black-70: hsla(120, 100%, 0%, .7);
  --black-100: hsla(120, 100%, 0%, 1);
  --blue-10: hsla(240, 100%, 50%, .1);
  --blue-40: hsla(240, 100%, 50%, .4);
  --blue-70: hsla(240, 100%, 50%, .7);
  --blue-100: hsla(240, 100%, 50%, 1);
  --gray-10: hsla(120, 0%, 50%, .1);
  --gray-40: hsla(120, 0%, 50%, .4);
  --gray-70: hsla(120, 0%, 50%, .7);
  --gray-100: hsla(120, 0%, 50%, 1);
  --green-10: hsla(120, 100%, 50%, .1);
  --green-40: hsla(120, 100%, 50%, .4);
  --green-70: hsla(120, 100%, 50%, .7);
  --green-100: hsla(120, 100%, 50%, 1);
  --red-10: hsla(0, 100%, 50%, .1);
  --red-40: hsla(0, 100%, 50%, .4);
  --red-70: hsla(0, 100%, 50%, .7);
  --red-100: hsla(0, 100%, 50%, 1);
  --white-10: hsla(120, 100%, 100%, .1);
  --white-40: hsla(120, 100%, 100%, .4);
  --white-70: hsla(120, 100%, 100%, .7);
  --white-100: hsla(120, 100%, 100%, 1);
  --yellow-10: hsla(60, 100%, 50%, .1);
  --yellow-40: hsla(60, 100%, 50%, .4);
  --yellow-70: hsla(60, 100%, 50%, .7);
  --yellow-100: hsla(60, 100%, 50%, 1);
  /* Custom color palette */
  --background: hsla(140, 85%, 2.75%, .5);
  /* Tetrads palette */
  --key-tetrad-color: #a82724;
  --second-tetrad-color: #62a824;
  --third-tetrad-color: #24a4a8;
  --fourth-tetrad-color: #6a24a8;
  /* Split Complementary palette */
  --key-split-color: #a82724;
  --second-split-color: #24a86a;
  --third-split-color: #2462a8;
  /* Triads palette */
  --key-triad-color: #a82724;
  --second-triad-color: #24a828;
  --third-triad-color: #2824a8;
  /* Gradations */
  --key-gradation-color: #ecb132;
  --second-gradation-color: #e5a231;
  --third-gradation-color: #de9330;
  --fourth-gradation-color: #d7842f;
  --fifth-gradation-color: #d0752e;
  --sixth-gradation-color: #c9662d;
  --seventh-gradation-color: #c2572c;
  --eighth-gradation-color: #bb482b;
  --ninth-gradation-color: #b4392a;
  --secondary-gradation-color: #a82724;
  }

/* Hidden Menu */
.top-label[for="toggle"] {
  font-size: 2rem;
  color: var(--white-70);
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1200;
  cursor: pointer;
  }
/* hidden checkbox */
input[type="button"] {
  position: absolute;
  top: -100px;
  }
#hidden-nav {
  background-color: rgba(255,255,255, 0.8);
  color: var(--black-70);
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
  width: 375px;
  max-height: fit-content;
  padding: 0 18px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -370px;
  z-index: 1000;
  overflow: auto;
  transition: 0.6s all;
  }
input[type=checkbox]:checked + #hidden-nav {
  right: 0.5px;
  }
