/* default page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../../../assets/svg/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
      url(../../../assets/svg/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
a:hover {
  text-decoration: underline;
}
/* hidden navbar element */
.top-label[for="toggle"] {
  font-size: 1.95rem;
  color: silver;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  cursor: pointer;
}
.accordion-header {
  color: ghostwhite;
  background: gray 66%;
}
.card {
  box-shadow: 6px 12px 8px dimgrey;
}
.card-round {
  border-radius: 25px;
}
table:hover {
  color: ghostwhite;
  background: gray 66%;
}
input[type="checkbox"] {
  position: absolute;
  top: -100px;
}
#hidden-nav {
  background-color: rgba(255,255,255, 0.4);
  color: black;
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
  width: 375px;
  max-height: fit-content;
  padding: 0 18px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -370px;
  overflow: auto;
  transition: 0.6s all;
}
input[type=checkbox]:checked + #hidden-nav {
  right: 0.1px;
}
