/* My Reboot Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:
    url(../assets/images/bg-bottom.svg) bottom right no-repeat fixed,
    url(../assets/images/bg-top.svg) left top no-repeat fixed;
  }

  /* My Global Variables */

