/*Project Knucklebones [Tabletop RPG Dice Emulator]
2024 StrayDog Syndications LLC. All Rights Reserved*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../../../assets/svg/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
      url(../../../assets/svg/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
.fa-hat-wizard {
  color: #0000cd;
  border-radius: 50%;
}
.icons-link {
  text-decoration: none;
  text-shadow: -1px -1px 2px black;
  font-size: 0.875rem;
}
.icons-link:hover {
  text-decoration: underline;
  color: gold;
}
button,
.popover {
  width: 10rem;
  margin-bottom: 1rem;
  border: none;
  background: transparent;
}
small {
  text-shadow: 2px 1px 1px silver;
}
.impact {
  font-size: 1.6rem;
  font-family: Papyrus, Herculanum, "Party LET", "Curlz MT", Harrington, fantasy;
  text-shadow: -2px  1px 2px #708090;
}
.output {
  border-radius: 45%;
  font-weight: bold;
  font-size: 2rem;
  max-height: fit-content;
  max-width: fit-content;
  min-width: 5rem;
  z-index: 500;
  background: hsl(120, 100%, 0%);
  color: hsl(120, 100%, 100%);
}
.output-sml {
  font-weight: bold;
  border-radius: 45%;
  font-size: 1.85rem;
}
.output-lg {
  font-weight: bold;
  border-radius: 45%;
  font-size: 2rem;
  min-width: 2.75rem;
}
.green {
  color: rgba(0, 0, 0.897);
  background: rgba(18, 252, 18, 0.918);
}
.red {
  color: rgba(0, 0, 0, 0.897);
  background: rgba(255, 67, 54, 0.897);
}
.orange {
  color: rgba(0, 0,  0, 0.897);
  background: rgba(255, 162, 22, 0.87);
}
.yellow {
  color: rgba(0, 0,  0, 0.897);
  background: rgba(252, 255, 54, 0.897);
}
.blue {
  color: rgba(0, 0,  0, 0.897);
  background: rgba(5, 163, 202, 0.897);
}
.indigo {
  color: rgba(0, 0,  0, 0.897);
  background: rgba(74, 102, 255, 0.897);
}
.violet {
  color: rgba(0, 0,  0, 0.897);
  background: rgba(130, 2, 204, 0.897);
}
/*inverted color schemes*/
.navy {
  color: ghostwhite;
  background: navy;
}
.dkgreen {
  color: ghostwhite;
  background: darkgreen;
}
.dkslate {
  color: ghostwhite;
  background: darkgreen;
}
.dkgold {
  color: ghostwhite;
  background: darkgoldenrod;
}
.dkblue{
  color: ghostwhite;
  background: midnightblue;
}
.dkpurple {
  color: ghostwhite;
  background: rebeccapurple;
}
.dkorange {
  color: black;
  background: darkorange;
}
.black {
  color: ghostwhite;
  background: black;
}
.silver {
  color: black;
  background: silver;
}
.fire {
  color: ghostwhite;
  background: firebrick;
}
.btn-menu {
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
}
.dice {
  z-index: 10;
  animation: spin 4s linear infinite;
  animation-direction: reverse;
}
@keyframes counter-spin { from { transform:rotate(-360deg); } to
{ transform:rotate(0deg); } }
.box {
  animation: spin 9s linear infinite;
}
@keyframes spin { from { transform:rotate(360deg); } to
{ transform:rotate(0deg); } }/* animation box */
#fickle {
  display: block;
  border: 1px solid;
  box-shadow: 2px 3px 4px hsl(120, 100%, 0%);
  position: sticky;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  font-family: Herculanum, Impact, fantasy;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 75;
  background: rgba(51, 170, 51, .4);
  background-image:
    linear-gradient(45deg, rgba(51,170,51, 33%),
                    rgba(51,170,51, 66%));
  animation: spin 9s linear infinite;
  animation-direction: reverse;
}
@keyframes counter-spin { from { transform:rotate(-360deg); } to
{ transform:rotate(0deg); } }

#small-square {
  display: flex;
  position: sticky;
  float: right;
  z-index: 100;
  margin: 50px;
  width: 200px;
  height: 200px;
  background: rgba(51, 170, 51, .7);
  box-shadow: 2px 3px 4px hsl(120, 100%, 0%);
  animation: spin 9s linear infinite;
}
@keyframes spin { from { transform:rotate(360deg); } to
{ transform:rotate(0deg); } }

.nav-link:hover {
  color: gold;
  text-decoration: underline;
}
