/* default page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../../../assets/svg/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
      url(../../../assets/svg/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
.fa-d-and-d {
  color: #b22222;
}
.fa-dragon {
  color: #daa520;
}
.fa-tools {
  color: #808080;
}
.fa-atlas {
  color: #8b4513;
}
.fa-shopping-basket {
  color: #483d8b;
}
.fa-level-up-alt {
  color: #228b22;
}
.btn-d6,
.btn-d20 {
  color: #b22222;
  font-size: 1.25rem;
  min-width: 25%;
}
.btn-d6:hover,
.btn-d20:hover {
  text-decoration: underline;
}
.dmg-output,
.dmg-output-type,
.roll-output {
  font-weight: bolder;
  font-size: 1.25rem;
  min-width: 25%;
}
.fire {
  background-color: crimson;
}
.electric {
  background-color: yellow;
}
.ice {
  background-color: dodgerblue;
}
.acid {
  background-color: yellowgreen;
}
.critical {
  color: ghostwhite;
  background-color: forestgreen;
}
.fumble {
  color: ghostwhite;
  background-color: crimson;
}
/* hidden navbar element */
.top-label[for="toggle"] {
  font-size: 1.95rem;
  color: silver;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  cursor: pointer;
}
.accordion-header {
  color: ghostwhite;
  background: gray 66%;
}
.card {
  box-shadow: 6px 12px 8px dimgrey;
}
.card-round {
  border-radius: 25px;
}
table:hover {
  color: ghostwhite;
  background: gray 66%;
}
input[type="checkbox"] {
  position: absolute;
  top: -100px;
}
#hidden-nav {
  background-color: rgba(255,255,255, 0.4);
  color: black;
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
  width: 375px;
  max-height: fit-content;
  padding: 0 18px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -370px;
  overflow: auto;
  transition: 0.6s all;
}
input[type=checkbox]:checked + #hidden-nav {
  right: 0.1px;
}
#awardXP {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}
.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
}
.nav-link:hover {
  color: crimson;
  text-decoration: underline;
}