/* lookup to main css folder*/
@import url(../../../assets/css/header.css);
@import url(../../../assets/css/nav-bar.css);
@import url(../../../assets/css/styles.css);
@import url(../../../assets/css/content.css);
@import url(../../../assets/css/images.css);
@import url(../../../assets/css/buttons.css);
@import url(../../../assets/css/media.css);
@import url(../../../assets/css/controls.css);
@import url(../../../assets/css/footer.css);

ul>li, li {
  text-align: center;
  list-style: none;
  list-style-position: inside;
}